li a {
	color: green;
}

.maxw
{
    max-width: 300px;
    max-height: 300px;
}

.img-con
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.imgl
{
    max-width: 300px;
}

.imgbx
{
    width:300px;
    height:300px; 
    min-width:300px;
    min-height:300px; 
    max-width:300px;
    max-height:300px;
}

.imar
{
    padding-top: 10px; 
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;    
}

.ico
{
	max-width: 20px;
	max-height: 20px;
}