{% extends 'wpsa/base.html' %}
{% block title %} list {% endblock %}
{% block body_block %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome WPS</h1>
        <p>This is a sample project to learn Django/Python</p>
      </div>

{% if active_wp %}
<div class="row">
	{% for wp in active_wp %}
    <div class="col-md-3 col-sm-4 col-xs-6" style="text-align:center">
        <div class="imgbx imar">
        <a class="thumbnail" href="{% url 'wpsa:detail' wp.id %}">
            {% if wp.image %} <!-- image is empty or null -->
            <img src=uploads/{{wp.image}}>            
            {% else %}
            <img src="http://placehold.it/300x300&text=NO IMAGE">
            {% endif %}
            </a>            
        </div>
        <span>{{wp.province}}</span>
    </div>                    
	{% endfor %}
</div>
{% else %}
	<p>
		No Workplace is defined
	</p>
{% endif %}
{% endblock %}