<!DOCTYPE HTML>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'wpsa/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'wpsa/style.css' %}" />
<a href="/wpsa/register_wp">Register new Workplace</a>
{% if active_wp %}
	<ul>
	{% for wp in active_wp %}
		<li><a href="{% url 'wpsa:detail' wp.id %}">{{wp.province}}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>
		No Workplace is defined
	</p>
{% endif %}
<script src="{% static 'wpsa/bootstrap/js/bootstrap.min.js' %}"></script>