{% extends 'wpsa/base.html' %}
{% block title %} list {% endblock %}
{% block body_block %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome WPS</h1>
        <p>This is a sample project to learn Django/Python</p>
      </div>

<a href="/wpsa/register_wp">Register new Workplace</a>
{% if active_wp %}
	<ul>
	{% for wp in active_wp %}
		<li><a href="{% url 'wpsa:detail' wp.id %}">{{wp.province}}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>
		No Workplace is defined
	</p>
{% endif %}
    {% endblock %}